@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Загрузка исходных Json данных</h1>

    <input type="file" id="fileInput" accept=".json">
    <button id="parseBtn">Загрука JSON данных</button>

    <div id="loading" style="display:none;">
        <h1 id="loadingText" class="display-6">Идёт загрузка</h1>
    </div>
</div>




<script type="text/javascript">    
    $('#fileInput').on('change', function () {
        $('#loading').hide();
        var fileName = $(this).val();
        var fileExtension = fileName.split('.').pop();
        if (fileExtension != "json") {
            $('#fileInput').val(null);
            alert("Расширение файла не поддерживается: " + fileExtension);            
        }
    });

    $(function () {
        $('#parseBtn').click(function () {
            $('#loading').show();
            $('#loadingText').text('Загрука JSON данных');
            var file = $('#fileInput')[0].files[0];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function () {
                try {
                    var datas = JSON.parse(reader.result);
                } catch (e) {
                    $('#loadingText').text('Ошибка обработки файла');
                    return;
                }
                console.log(datas);
                $.ajax({
                    url: '/import/uploadText',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(datas),
                    success: function (data) {
                        console.log(data);
                        $('#loadingText').text('Данные загружены');
                    },
                    error: function (xhr, status, error) {
                        $('#loadingText').text('Ошибка загрузки данных');
                        console.log(error);
                    }
                });
            };
        });
    });

</script>